{% assign fields = site.data.config-table %}
<script type="text/javascript" language="javascript" src="{{ '/assets/lib/datatables/datatables.min.js' | absolute_url }}"></script>
<script>
var sheetUrl = "https://spreadsheets.google.com/feeds/list/{{ page.google-sheet-id }}/od6/public/values?alt=json";
$.getJSON(sheetUrl, function (data) {
    console.log("get success");
    var dataSet = [];
    var rows = data.feed.entry;
    $(rows).each(function () { 
        dataSet.push([ {% for f in fields %}this.gsx${{ f.field }}.$t{% unless forloop.last %},{% endunless %}{% endfor %} ]);
    });
    $('#item-table').DataTable( {
        // use DataTables ajax load 
        //ajax: { url: '{{ "/data/metadata.min.json" | relative_url }}', dataSrc: 'objects' },
        data: dataSet,
        // defer render to speed up large sets
        "deferRender": true,
        // enable pagination 
        "paging": true,
        "lengthMenu": [[ 25, 50, 100, -1], [ 25, 50, 100, "All"]],
        // add download features
        dom: 'B<"row mt-2"<"col-md-6"l><"col-md-6"f>>t<"row"<"col-md-6"i><"col-md-6"p>>', 
        buttons: [ 'excelHtml5', 'csvHtml5' ],
        // get the data from json
        //columns: [ {% for i in (0..fcount) %}{ data: '{{ i }}' }{% unless forloop.last %},{% endunless %}{% endfor %} ],
        columns: [ {% for f in fields %}{ title: "{{ f.display_name }}" }{% unless forloop.last %},{% endunless %}{% endfor %} ],
        /*
        columnDefs: [ 
            // turn relative link into absolute
            { "render": function ( data ) { return '{{ site.url }}' + data; },"targets": {{ fcount }} },
            // combine link with first column
            { "render": function ( data, type, row ) { return '<a href="' + row['{{ fcount }}'] +'">'+ data +'</a>'; },"targets": 0 },
            // hide the link column
            { "visible": false,  "targets": [ {{ fcount }} ] }
        ],*/
        // sort based on the second column
        order: [[ {{ page.sort-column | default: 0 }}, "{{ page.sort-order | default: 'asc' }}" ]]
    });

})
                

</script>
